In [1]:
import pandas as pd

In [2]:
def check_null(df):
    # Check for null values in each column
    null_counts = df.isnull().sum()

    # Print columns with null values
    print("Columns with null values:")
    print(null_counts[null_counts > 0])

# 2016

In [16]:
df = pd.read_csv("../DB/Data/2016_-_Citywide_GHG_Emissions_20240207.csv")
df.columns = df.columns.str.upper()
df[:1]

,ACCOUNT NUMBER,CITY NAME,COUNTRY,CITY SHORT NAME,C40,REPORTING YEAR,MEASUREMENT YEAR,BOUNDARY,PRIMARY METHODOLOGY,METHODOLOGY DETAILS,...,CURRENT POPULATION,CITY GDP,GDP CURRENCY,YEAR OF GDP,GDP SOURCE,AVERAGE ANNUAL TEMPERATURE (IN CELSIUS)​,​LAND AREA (IN SQUARE KM),AVERAGE ALTITUDE (M),CITY LOCATION,COUNTRY LOCATION
0,35894,Ville de Montreal,Canada,Montreal,NaN,2016,12/31/2009 12:00:00 AM,Other: The regional entity that constitutes th...,2006 IPCC Guidelines for National Greenhouse G...,2006 IPCC Guidelines for National Greenhouse G...,...,1886481.0,1.201180e+11,CAD Canadian Dollar,2014.0,"Ville de Montréal, Montréal en statistiques, h...",6.8,500.0,17.0,"(45.5086699, -73.5539925)","(56.130366, -106.346771)"

In [13]:
print(sorted(list(df.columns)))

['Account Number', 'Average altitude (m)', 'Average annual temperature (in Celsius)\u200b', 'Boundary', 'C40', 'City GDP', 'City Location', 'City Name', 'City Short Name', 'Country', 'Country Location', 'Current Population', 'Current Population Year', 'GDP Currency', 'GDP Source', 'Gases included', 'Increase/Decrease from last year', 'Measurement Year', 'Methodology Details', 'Primary Methodology', 'Reason for increase/decrease in emissions', 'Reporting Year', 'Total City-wide Emissions (metric tonnes CO2e)', 'Total Scope 1 Emissions (metric tonnes CO2e)', 'Total Scope 2 Emissions (metric tonnes CO2e)', 'Year of GDP', '\u200bLand area (in square km)']

In [ ]:
df = df[["City",""]]

# 2017

In [17]:
df2 = pd.read_csv("../DB/Data/2017_-_Cities_Community_Wide_Emissions.csv")
df2.columns = df2.columns.str.upper()
df2[:1]

,ACCOUNT NUMBER,ORGANIZATION,CITY,COUNTRY,REGION,C40,ACCESS,REPORTING YEAR,ACCOUNTING YEAR,BOUNDARY,...,POPULATION YEAR,GDP,GDP CURRENCY,GDP YEAR,GDP SOURCE,AVERAGE ANNUAL TEMPERATURE (IN CELSIUS)​,​AVERAGE ALTITUDE (M),​LAND AREA (IN SQUARE KM),CITY LOCATION,COUNTRY LOCATION
0,49363,Nelson Mandela Bay Municipality,Nelson Mandela Bay,South Africa,Africa,NaN,Public,2017,2013-07-01 - 2014-06-30,A metropolitan area,...,2011,52147.0,ZAR South African Rand,2010.0,Built Environment Performance Plan(BEPP),17.5,69.0,1950.0,"(-33.745241, 25.568108)","(-30.559482, 22.937506)"

In [12]:
print(sorted(list(df2.columns)))

['Access', 'Account number', 'Accounting year', 'Average annual temperature (in Celsius)\u200b', 'Boundary', 'C40', 'City', 'City Location', 'Comment', 'Country', 'Country Location', 'GDP', 'GDP Currency', 'GDP Source', 'GDP Year', 'Gases included', 'Increase/Decrease from last year', 'Organization', 'Population', 'Population year', 'Protocol', 'Protocol column', 'Reason for increase/decrease in emissions', 'Region', 'Reporting year', 'Scopes Included ', 'Total Scope 1 Emissions (metric tonnes CO2e)', 'Total Scope 2 Emissions (metric tonnes CO2e)', 'Total emissions (metric tonnes CO2e)', '\u200bAverage altitude (m)', '\u200bLand area (in square km)']

In [18]:
list1 = list(df.columns)
list2 = list(df2.columns)
difference = sorted([item for item in list1 if item not in list2] + [item for item in list2 if item not in list1])

print(difference)

['ACCESS', 'ACCOUNTING YEAR', 'AVERAGE ALTITUDE (M)', 'CITY', 'CITY GDP', 'CITY NAME', 'CITY SHORT NAME', 'COMMENT', 'CURRENT POPULATION', 'CURRENT POPULATION YEAR', 'GDP', 'GDP YEAR', 'MEASUREMENT YEAR', 'METHODOLOGY DETAILS', 'ORGANIZATION', 'POPULATION', 'POPULATION YEAR', 'PRIMARY METHODOLOGY', 'PROTOCOL', 'PROTOCOL COLUMN', 'REGION', 'SCOPES INCLUDED ', 'TOTAL CITY-WIDE EMISSIONS (METRIC TONNES CO2E)', 'TOTAL EMISSIONS (METRIC TONNES CO2E)', 'YEAR OF GDP', '\u200bAVERAGE ALTITUDE (M)']